
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.panel-body{
    padding: 30px;
}

.param{
    font-weight: bold;
    width: 200px;
}

.info{
    font-style: italic;
    margin-bottom: 20px;
}

.red{
    color: red;
}